<%- include(`../partials/_head`) %>
    <div class="container">
        <div class="rows">
            <div class="col">
                <a class="btn btn-success btn-sm" href="/ruangan/create">Tambah</a>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">no</th>
                        <th scope="col">nama ruangan</th>
                        <th scope="col">kode ruangan</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% for( let i = 0; i < data.length; i++ ) { %>
                            <tr>
                              <th scope="row"><%= (i+1) %></th>
                              <td><%= data[i].nama_ruangan %></td>
                              <td><%= data[i].kode_ruangan %></td>
                              <td>
                                  <a class="btn btn-warning btn-sm" href="ruangan/edit/<%- data[i].id_ruangan %>">edit</a>
                                  <a class="btn btn-danger btn-sm" href="ruangan/delete/<%- data[i].id_ruangan %>">delete</a>
                              </td>
                            </tr>
                        <% } %>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
<%- include(`../partials/_footer`) %>